﻿<%@ Page Title="" Language="VB" MasterPageFile="~/staffmaster.master" AutoEventWireup="false" CodeFile="cleardoubts.aspx.vb" Inherits="cleardoubts" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
    .style1
    {
        width: 100%;
    }
    .style2
    {
            width: 220px;
        }
    .style3
    {
        width: 251px;
    }
        .style4
        {
            font-size: large;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
    <br />
</p>
<table class="style1">
    <tr>
        <td class="style3" rowspan="6">
            <asp:ListBox ID="ListBox1" runat="server" AutoPostBack="True" Height="173px" 
                Width="196px"></asp:ListBox>
        </td>
        <td class="style2">
            <asp:Label ID="Label3" runat="server" Text="Topic" CssClass="style4"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="TextBox3" runat="server" Enabled="False" Height="30px" 
                Width="281px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td class="style2">
            <asp:Label ID="Label1" runat="server" Text="Doubt" CssClass="style4"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="TextBox4" runat="server" Enabled="False" Height="105px" 
                TextMode="MultiLine" Width="277px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td class="style2">
            <asp:Label ID="Label2" runat="server" Text="Answer" CssClass="style4"></asp:Label>
        </td>
        <td>
            <asp:TextBox ID="TextBox2" runat="server" Height="115px" TextMode="MultiLine" 
                Width="278px"></asp:TextBox>
        </td>
    </tr>
    <tr>
        <td class="style2">
            <asp:Button ID="Button1" runat="server" Text="Post" Height="29px" 
                Width="73px" />
        </td>
        <td>
            &nbsp;</td>
    </tr>
    <tr>
        <td class="style2">
            <asp:Literal ID="Literal1" runat="server"></asp:Literal>
        </td>
        <td>
            &nbsp;</td>
    </tr>
    <tr>
        <td class="style2">
            &nbsp;</td>
        <td>
            &nbsp;</td>
    </tr>
</table>
</asp:Content>

