﻿<%@ Page Language="VB" AutoEventWireup="false" CodeFile="facultyclass.aspx.vb" Inherits="facultyclass" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
     <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.2.min.js"           

    temp_src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.4.2.min.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        var x1 = 0;
        var y1 = 0;
        var x2 = 0;
        var y2 = 0;
        var canvas;
        var context;
        var mdown = false;
        function init() {
            // Attach the mousemove event handler
            canvas = document.getElementById('myCanvas');
            context = canvas.getContext('2d');
            canvas.addEventListener('mousedown', startdraw, false);
            canvas.addEventListener('mousemove', drawing, false);
            canvas.addEventListener('mouseup', stopdraw, false);
           // window.alert("ok");
            
        }

        function init1() {

            context.clearRect(0, 0, canvas.width, canvas.height);
        }
        function startdraw(event) {
            x1 = event.clientX;
            y1 = event.clientY;
            mdown = true;

        }

        function drawing(event) {
            if (mdown == true) {
                x2 = event.clientX;
                y2 = event.clientY;
                context.moveTo(x1, y1);
                context.lineTo(x2, y2);
                context.stroke();
                x1 = x2;
                y1 = y2;

            }
        }

        function stopdraw(event) {
            mdown = false;

            var image = document.getElementById("myCanvas").toDataURL("image/png");

            image = image.replace('data:image/png;base64,', '');
            //  window.alert("completed");
            $.ajax({

                type: 'POST',

                url: 'facultyclass.aspx/UploadImage',

                data: '{ "imageData" : "' + image + '" }',

                contentType: 'application/json; charset=utf-8',

                dataType: 'json',

                success: function (msg) {

                    //alert('Image saved successfully !');

                }

            });

        }
       
    </script>

</head>
<body onload="init()">

<canvas id="myCanvas" width="500" height="500" style="border:1px solid #000000;" >
 </canvas> 
    <form id="form1" runat="server">

   
 <br />
    
    <div>
     <p>
        <asp:Timer ID="Timer2" runat="server" Interval="6000">
        </asp:Timer>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        
        <br />
    </p>
    <asp:Literal ID="Literal2" runat="server"></asp:Literal>
    <p>
        &nbsp;</p>
    <div>
        <br />
    </div>
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <asp:Timer ID="Timer1" runat="server" Interval="500">
    </asp:Timer>
    <br />
    <asp:UpdatePanel ID="UpdatePanel1" runat="server" 
        style="width: 300px;height: 205px;position: absolute;top:60%;left:75%;border:solid 1px gray;" 
        UpdateMode="Conditional">
        <ContentTemplate>
            <asp:ListBox ID="ListBox1" runat="server" Height="207px" Width="300px" 
                ForeColor="Black">
            </asp:ListBox>
        
        </ContentTemplate>
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick" />
        </Triggers>
    </asp:UpdatePanel>
     <asp:TextBox ID="TextBox1" runat="server" style="Height: 23px;Width: 250px;position: absolute;top:92%;left:75%;border:solid 1px gray;"  ></asp:TextBox>
            <asp:Button ID="Button1" runat="server" Text="send" 
            style="Height: 25px;Width: 45px;position: absolute;top:92%;left:94%;border:solid 1px gray;" />
            <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/StaffHome.aspx">Home</asp:HyperLink>
    <p>
        <input id="Button2" type="button" value="button" onclick="init1()"/></p>
    <p>
        &nbsp;</p>
        
    <asp:UpdatePanel ID="UpdatePanel2" runat="server" 
        style="width: 300px;height: 205px;position: absolute;top:20%;left:75%;border:solid 1px gray;" 
        UpdateMode="Conditional">
        <ContentTemplate>
            <asp:Literal ID="Literal1" runat="server"></asp:Literal>
            <br />
        </ContentTemplate>
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="Timer2" EventName="Tick">
            </asp:AsyncPostBackTrigger>
        </Triggers>
    </asp:UpdatePanel>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    </div>
    </form>
</body>
</html>
