﻿<%@ Page Title="" Language="VB" MasterPageFile="~/staffmaster.master" AutoEventWireup="false" CodeFile="fclass.aspx.vb" Inherits="fclass" %>


<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        <asp:Timer ID="Timer2" runat="server" Interval="6000">
        </asp:Timer>
        <br />
    </p>
    <asp:Literal ID="Literal2" runat="server"></asp:Literal>
    <asp:Label ID="Label1" runat="server" Text="&quot; i&quot;"></asp:Label>
    <p>
        &nbsp;</p>
    <div>
        <br />
    </div>
    <asp:ScriptManager ID="ScriptManager1" runat="server">
    </asp:ScriptManager>
    <asp:Timer ID="Timer1" runat="server" Interval="500">
    </asp:Timer>
    <br />
    <asp:UpdatePanel ID="UpdatePanel1" runat="server" 
        style="width: 300px;height: 205px;position: absolute;top:60%;left:5%;border:solid 1px gray;" 
        UpdateMode="Conditional">
        <ContentTemplate>
            <asp:ListBox ID="ListBox1" runat="server" Height="207px" Width="300px" 
                ForeColor="Black">
            </asp:ListBox>
        
        </ContentTemplate>
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="Timer1" EventName="Tick" />
        </Triggers>
    </asp:UpdatePanel>
     <asp:TextBox ID="TextBox1" runat="server" style="Height: 23px;Width: 250px;position: absolute;top:95%;left:5%;border:solid 1px gray;"  ></asp:TextBox>
            <asp:Button ID="Button1" runat="server" Text="send" style="Height: 25px;Width: 45px;position: absolute;top:95%;left:25%;border:solid 1px gray;" />
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <asp:UpdatePanel ID="UpdatePanel2" runat="server" 
        style="width: 300px;height: 205px;position: absolute;top:20%;left:5%;border:solid 1px gray;" 
        UpdateMode="Conditional">
        <ContentTemplate>
            <asp:Literal ID="Literal1" runat="server"></asp:Literal>
            <br />
        </ContentTemplate>
        <Triggers>
            <asp:AsyncPostBackTrigger ControlID="Timer2" EventName="Tick">
            </asp:AsyncPostBackTrigger>
        </Triggers>
    </asp:UpdatePanel>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
    <p>
        &nbsp;</p>
</asp:Content>

