﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MainMasterPage.master" AutoEventWireup="false" CodeFile="Home.aspx.vb" Inherits="Home" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 50%;
        }
        .style2
        {
            height: 222px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        <br />
    </p>
    <center>
    <table class="style1">
        <tr>
            <td align="center">
            <p>
                &nbsp;</p>
                <asp:ImageButton ID="ImageButton2" runat="server" 
            ImageUrl="~/images/StudentRegistration.jpg" Width="400px" />      
                <br />
                <br />
                &nbsp;</td>
        </tr>
        <tr>
            <td align="center" class="style2">
            <br />
             <p> &nbsp;
                 <asp:ImageButton ID="ImageButton3" runat="server" 
            ImageUrl="~/images/FacultyRegistration.jpg" Width="400px" />
            </p>
                &nbsp;<p>&nbsp;   
                </p>
                </td>
        </tr>
    </table>
    </center>
    
   
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
    <p>
    </p>
</asp:Content>

