﻿<%@ Page Title="" Language="VB" MasterPageFile="~/MainMasterPage.master" AutoEventWireup="false" CodeFile="student.aspx.vb" Inherits="student" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 77%;
        }
        .style2
        {
            width: 408px;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <p>
        <br />
        
    </p>
    <p>
        <asp:Label ID="Label1" runat="server" Font-Bold="True" Font-Size="X-Large" 
            Font-Underline="True" ForeColor="#FF3300" Text="Student's Corner"></asp:Label>
    </p>
    <p>
    </p>
    <center>
    <table class="style1">
        <tr>
            <td class="style2">
            <p>
        <asp:Button ID="Button1" runat="server" BackColor="#FFCCFF" 
            BorderColor="#000066" Font-Bold="True" Font-Size="Medium" ForeColor="Maroon" 
            Height="29px" Text="Existing Student" Width="195px" />

        
    </p>
    </td>
            <td align="center" rowspan="2" valign="middle">
            <asp:Image ID="Image1" runat="server" ImageUrl="~/images/newstudents.jpg" 
                    Height="212px" />
</td>
        </tr>
        <tr>
            <td class="style2">
            <p>
        <asp:Button ID="Button2" runat="server" BackColor="#FFCCFF" 
            BorderColor="#000066" Font-Bold="True" Font-Size="Medium" ForeColor="Maroon" 
            Height="32px" Text="New Student" Width="195px" />
    </p>
</td>
        </tr>
    </table>
    </center>
    
    
    <p>
    </p>
</asp:Content>

