﻿<%@ Page Title="" Language="VB" MasterPageFile="~/staffmaster.master" AutoEventWireup="false" CodeFile="uploadfiles.aspx.vb" Inherits="uploadfiles" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
    <style type="text/css">
        .style1
        {
            width: 100%;
        }
        .style2
        {
            font-size: x-large;
            text-decoration: underline;
            color: #FF66FF;
            text-align: center;
        }
        .style4
        {
            height: 23px;
            font-size: x-large;
        text-decoration: underline;
        text-align: center;
        color: #FF6699;
    }
        .style5
        {
            width: 79px;
        }
        .style7
        {
            width: 273px;
        }
        .style8
        {
            width: 79px;
            font-size: large;
        }
        .style9
        {
            font-size: large;
        }
    </style>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <table class="style1">
        <tr>
            <td class="style2" colspan="2">
                <br />
                <br />
            </td>
        </tr>
        <tr>
            <td class="style4" colspan="2">
                Upload Files</td>
        </tr>
        <tr>
            <td class="style5">
                &nbsp;</td>
            <td class="style7">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style5">
                <asp:Label ID="Label1" runat="server" Text="Title" CssClass="style9"></asp:Label>
            </td>
            <td class="style7">
                <asp:TextBox ID="TextBox1" runat="server" Width="252px" Height="28px"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td class="style8">
                Description</td>
            <td class="style7">
                <asp:TextBox ID="TextBox3" runat="server" TextMode="MultiLine" Height="110px" 
                    Width="256px"></asp:TextBox>
            </td>
        </tr>
        <tr>
            <td class="style8">
                Upload</td>
            <td class="style7">
                <asp:FileUpload ID="FileUpload1" runat="server" Height="27px" Width="253px" />
            </td>
        </tr>
        <tr>
            <td class="style5">
                &nbsp;</td>
            <td class="style7">
                <asp:Literal ID="Literal1" runat="server"></asp:Literal>
            </td>
        </tr>
        <tr>
            <td class="style5">
                &nbsp;</td>
            <td class="style7">
                &nbsp;</td>
        </tr>
        <tr>
            <td class="style5">
                &nbsp;</td>
            <td class="style7">
                <asp:Button ID="Button2" runat="server" style="text-align: center; height: 26px;" 
                    Text="Upload files" />
            </td>
        </tr>
    </table>
</asp:Content>

